/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
* Typography
*/

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
* Dashboard
*/

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: crimson;
}

a {
    color: black;
}

a:focus, a:hover {
    color: crimson;
}

#newInputItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

#newInputDate {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnSaveTask, #btnSaveCategory {
    position: relative;
    top: 10px;
    margin-right: 5px;
    background-color: #464a4c;
    color: white;
}

#btnCancelTask, #btnCancelCategory {
    position: relative;
    top: 10px;
    background-color: white;
    color: black;
}

#btnSaveTask:hover, #btnCancelTask:hover, #btnSaveCategory:hover, #btnCancelCategory:hover {
    background-color: crimson;
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
}

#loadingBox {
    background: #7CB3E9;
}

#infoBox {
    background: #393;
}

#errorBox {
    background: #F50;
}

.checkbox {
    position: relative;
    top: 13px;
}

.updateNameClass, .updateDeadlineClass {
    margin-bottom: .5rem;
}

.categoryNav {
    position: relative;
    left: 20px;
    top: 9px;
}

#categoryDiv {
    position: relative;
    left: 10px;
    top: 17px;
}

#taskDiv {
    position: relative;
    top: 10px;
}

.edit {
    position: relative;
    bottom: 40px;
    left: 174px;
}

.delete {
    position: relative;
    bottom: 24px;
    left: 161px;
}

.categoryLi {
    height: 37px;
}

.categoryEditDelete {
    display: none;
}

.categoryEdit {
    position: relative;
    left: 10px;
}

.form-control {
    display: inline;
}

.taskDescription {
    position: relative;
    left: 10px;
}

.dueDate {
    position: relative;
    left: 333px;
}

.category {
    position: relative;
    left: 441px;
}

